---
:username: 'monitor'
:password: 'secret'
:keys: '/home/monitor/.ssh/id_rsa'
:storage: '/opt/admin/netconfigs'
:path: '/configs'
:gitrepo: 'git@git.example.net:admin/switches.git'
:switchlist: - switch1.example.net
             - switch2.example.net
             - switch3.example.net
:switchgroups: 
  :cisco:
    - switch1.example.net
    - switch2.example.net
  :juniper:
    - switch3.example.net
    - switch4.example.net
